<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zlcm.server.dao.AdvertMapper">
  <resultMap id="BaseResultMap" type="com.zlcm.server.model.bean.Advert">
    <id column="aid" jdbcType="INTEGER" property="aid" />
    <result column="did" jdbcType="INTEGER" property="did" />
    <result column="uid" jdbcType="INTEGER" property="uid" />
    <result column="advert_img" jdbcType="VARCHAR" property="advertImg" />
    <result column="text_info" jdbcType="VARCHAR" property="textInfo" />
    <result column="start_time" jdbcType="TIMESTAMP" property="startTime" />
    <result column="duration" jdbcType="BIGINT" property="duration" />
    <result column="state" jdbcType="TINYINT" property="state" />
    <result column="hits" jdbcType="INTEGER" property="hits" />
    <result column="recommend" jdbcType="TINYINT" property="recommend" />
    <result column="iphone" jdbcType="VARCHAR" property="iphone" />
    <result column="sid" jdbcType="INTEGER" property="sid" />
    <result column="auditing_info" jdbcType="VARCHAR" property="auditingInfo" />
    <result column="address" jdbcType="VARCHAR" property="address" />
  </resultMap>
  <sql id="Base_Column_List">
    aid, did, uid, advert_img, text_info, start_time, duration, state, hits, recommend, 
    iphone, sid, auditing_info, address
  </sql>
  <select id="get" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from zlcm_advert
    where aid = #{aid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPK" parameterType="java.lang.Integer">
    delete from zlcm_advert
    where aid = #{aid,jdbcType=INTEGER}
  </delete>
  <insert id="save" parameterType="com.zlcm.server.model.bean.Advert" useGeneratedKeys="true" keyProperty="aid">
    insert into zlcm_advert
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="aid != null">
        aid,
      </if>
      <if test="did != null">
        did,
      </if>
      <if test="uid != null">
        uid,
      </if>
      <if test="advertImg != null">
        advert_img,
      </if>
      <if test="textInfo != null">
        text_info,
      </if>
      <if test="startTime != null">
        start_time,
      </if>
      <if test="duration != null">
        duration,
      </if>
      <if test="state != null">
        state,
      </if>
      <if test="hits != null">
        hits,
      </if>
      <if test="recommend != null">
        recommend,
      </if>
      <if test="iphone != null">
        iphone,
      </if>
      <if test="sid != null">
        sid,
      </if>
      <if test="auditingInfo != null">
        auditing_info,
      </if>
      <if test="address != null">
        address,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="aid != null">
        #{aid,jdbcType=INTEGER},
      </if>
      <if test="did != null">
        #{did,jdbcType=INTEGER},
      </if>
      <if test="uid != null">
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="advertImg != null">
        #{advertImg,jdbcType=VARCHAR},
      </if>
      <if test="textInfo != null">
        #{textInfo,jdbcType=VARCHAR},
      </if>
      <if test="startTime != null">
        #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="duration != null">
        #{duration,jdbcType=BIGINT},
      </if>
      <if test="state != null">
        #{state,jdbcType=TINYINT},
      </if>
      <if test="hits != null">
        #{hits,jdbcType=INTEGER},
      </if>
      <if test="recommend != null">
        #{recommend,jdbcType=TINYINT},
      </if>
      <if test="iphone != null">
        #{iphone,jdbcType=VARCHAR},
      </if>
      <if test="sid != null">
        #{sid,jdbcType=INTEGER},
      </if>
      <if test="auditingInfo != null">
        #{auditingInfo,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="update" parameterType="com.zlcm.server.model.bean.Advert">
    update zlcm_advert
    <set>
      <if test="did != null">
        did = #{did,jdbcType=INTEGER},
      </if>
      <if test="uid != null">
        uid = #{uid,jdbcType=INTEGER},
      </if>
      <if test="advertImg != null">
        advert_img = #{advertImg,jdbcType=VARCHAR},
      </if>
      <if test="textInfo != null">
        text_info = #{textInfo,jdbcType=VARCHAR},
      </if>
      <if test="startTime != null">
        start_time = #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="duration != null">
        duration = #{duration,jdbcType=BIGINT},
      </if>
      <if test="state != null">
        state = #{state,jdbcType=TINYINT},
      </if>
      <if test="hits != null">
        hits = #{hits,jdbcType=INTEGER},
      </if>
      <if test="recommend != null">
        recommend = #{recommend,jdbcType=TINYINT},
      </if>
      <if test="iphone != null">
        iphone = #{iphone,jdbcType=VARCHAR},
      </if>
      <if test="sid != null">
        sid = #{sid,jdbcType=INTEGER},
      </if>
      <if test="auditingInfo != null">
        auditing_info = #{auditingInfo,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        address = #{address,jdbcType=VARCHAR},
      </if>
    </set>
    where aid = #{aid,jdbcType=INTEGER}
  </update>

  <select id="findAll" resultType="com.zlcm.server.model.bean.Advert">
    SELECT * FROM zlcm_advert
  </select>

  <select id="getCount" resultType="java.lang.Integer">
    SELECT COUNT(*) FROM zlcm_advert
  </select>

  <select id="getPageList" parameterType="java.lang.Integer" resultType="com.zlcm.server.model.bean.Advert">
    SELECT * FROM zlcm_advert a JOIN (select aid from zlcm_advert limit #{page},#{size}) b ON a.aid = b.aid
  </select>

  <select id="getAppHotList" parameterType="java.lang.Integer" resultType="com.zlcm.server.model.apprep.AppAdvert">
    SELECT ad.aid,ad.advert_img,ad.text_info,ad.start_time,ad.hits,ad.iphone ,a.nickname,a.avatar,a.credit,real_name,a.stor_id,ad.address
    FROM zlcm_advert ad INNER JOIN
    (SELECT ud.uid,ud.nickname,ud.credit,ud.avatar,ud.real_name,ud.stor_id FROM zlcm_user_details ud) as a
    ON ad.uid = a.uid WHERE ad.state = 1
    ORDER BY ad.hits DESC limit #{page,jdbcType=INTEGER} ,#{size,jdbcType=INTEGER}
  </select>

  <select id="getAppRecommend" parameterType="java.lang.Integer" resultType="com.zlcm.server.model.apprep.AppAdvert">
    SELECT ad.aid,ad.advert_img,ad.text_info,ad.start_time,ad.hits,ad.iphone ,a.nickname,a.avatar,a.credit,real_name,a.stor_id,ad.address
    FROM zlcm_advert ad INNER JOIN
    (SELECT ud.uid,ud.nickname,ud.credit,ud.avatar,ud.real_name,ud.stor_id FROM zlcm_user_details ud) as a
    ON ad.uid = a.uid WHERE ad.state = 1 AND recommend = 1
    ORDER BY ad.start_time DESC limit #{page,jdbcType=INTEGER} ,#{size,jdbcType=INTEGER}
  </select>
  <select id="findAdvertFordid" parameterType="java.lang.Integer" resultType="java.lang.String">
      SELECT advert_img FROM zlcm_advert ad WHERE ad.aid IN (SELECT aid FROM zlcm_advert_device WHERE zlcm_advert_device.did = #{did,jdbcType=INTEGER})
  </select>
  <select id="findAdvertForDid" parameterType="java.lang.Integer" resultType="com.zlcm.server.model.apprep.AppAdvert">
      SELECT ad.aid,ad.advert_img,ad.text_info,ad.start_time,ad.hits,ad.iphone ,a.nickname,a.avatar,a.credit,real_name,a.stor_id,ad.address
    FROM zlcm_advert ad INNER JOIN
    (SELECT ud.uid,ud.nickname,ud.credit,ud.avatar,ud.real_name,ud.stor_id FROM zlcm_user_details ud) as a
    ON ad.uid = a.uid WHERE ad.aid IN (SELECT aid FROM zlcm_advert_device WHERE zlcm_advert_device.did = #{did,jdbcType=INTEGER})
    ORDER BY ad.hits DESC limit #{page,jdbcType=INTEGER} ,#{size,jdbcType=INTEGER}
  </select>
  <select id="findAdvertWhereState" parameterType="java.lang.Integer" resultType="com.zlcm.server.model.bean.Advert">
    SELECT * FROM zlcm_advert a JOIN (select aid from zlcm_advert WHERE state = #{state,jdbcType=INTEGER} limit #{page,jdbcType=INTEGER},#{size,jdbcType=INTEGER}) b
    ON a.aid = b.aid
  </select>

  <select id="findAdminAdvert" resultType="com.zlcm.server.model.admin.AdminAdvert">
    SELECT a.aid,a.uid,a.advert_img,a.text_info,a.start_time,a.duration,a.state,a.iphone,a.address, s.name FROM zlcm_advert AS a
    LEFT JOIN (SELECT * FROM zlcm_store) AS s ON  s.sid = a.sid
    WHERE a.aid IN (select o.aid from zlcm_order o WHERE o.state = 1 AND a.state = 0)
    ORDER BY a.start_time DESC limit #{page,jdbcType=INTEGER} ,#{size,jdbcType=INTEGER}
  </select>

</mapper>
