<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zlcm.server.dao.DeviceDao">
    <resultMap id="ArticleResult" type="Device">
        <result property="did" column="did"/>
        <result property="name" column="name"/>
        <result property="type" column="type"/>
        <result property="dstate" column="dstate"/>
        <result property="dip" column="dip"/>
        <result property="dlongitude" column="dlongitude"/>
        <result property="dlatitude" column="dlatitude"/>
        <result property="dinfo" column="dinfo"/>
    </resultMap>

    <select id="findDevices" parameterType="java.lang.String" resultType="java.util.List">
        SELECT * FROM device WHERE did = ANY ( SELECT did FROM user_bind_device WHERE uid = #{uid})
    </select>

    <select id="pagingDevices" parameterType="java.util.Map" resultType="java.util.List">
        SELECT * FROM device LIMIT #{page},#{size}
    </select>

    <select id="findUsers" parameterType="java.lang.String" resultType="java.util.List">
        SELECT * FROM user WHERE uid = ANY ( SELECT uid FROM user_bind_device WHERE did = #{did})
    </select>

    <select id="peripheryDevices" parameterType="java.util.Map" resultType="java.util.List">
        SELECT * FROM device d WHERE #{minlat} <![CDATA[ <= ]]> d.dlatitude <![CDATA[ >= ]]> #{maxlat} AND
                                     #{minlng} <![CDATA[ <= ]]> d.dlongitude <![CDATA[ >= ]]> #{maxlng}
    </select>

    <select id="findDevice" parameterType="java.lang.String" resultType="com.zlcm.server.model.device.Device">
        SELECT * FROM device
        WHERE
            <if test="did!=null and did!=''">
                did=#{did}
            </if>
    </select>

    <insert id="insertDevices" parameterType="com.zlcm.server.model.device.Device">
        INSERT INTO device(did, name,type, dip) VALUES
            (#{did},#{name},#{type},#{dip});
    </insert>

    <update id="upDateDevice" parameterType="com.zlcm.server.model.device.Device">
        UPDATE device
          <set>
            <if test="name!=null and name!=''">
                name=#{name},
            </if>
            <if test="type!=null and type!=''">
                type=#{type},
            </if>
            <if test="dstate!=null">
                dstate=#{dstate},
            </if>
            <if test="dip!=null">
                dip=#{dip},
            </if>
            <if test="dlongitude!=null">
                dlongitude=#{dlongitude},
            </if>
            <if test="dlatitude!=null">
                dlatitude=#{dlatitude},
            </if>
            <if test="dinfo!=null and dinfo!=''">
                dinfo=#{dinfo},
            </if>
            <if test="mac!=null and mac!=''">
                mac=#{mac},
            </if>
          </set>
          <where>
              did=#{did}
          </where>
    </update>

    <delete id="deleteDevices" parameterType="java.lang.String">
        DELETE FROM device WHERE did=#{did}
    </delete>

</mapper>