<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zlcm.server.dao.OrderDeviceMapper">
  <resultMap id="BaseResultMap" type="com.zlcm.server.model.bean.OrderDevice">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="oid" jdbcType="INTEGER" property="oid" />
    <result column="did" jdbcType="INTEGER" property="did" />
  </resultMap>
  <sql id="Base_Column_List">
    id, oid, did
  </sql>
  <select id="get" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from zlcm_order_device
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPK" parameterType="java.lang.Integer">
    delete from zlcm_order_device
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="save" parameterType="com.zlcm.server.model.bean.OrderDevice">
    insert into zlcm_order_device
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="oid != null">
        oid,
      </if>
      <if test="did != null">
        did,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="oid != null">
        #{oid,jdbcType=INTEGER},
      </if>
      <if test="did != null">
        #{did,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  
  <update id="update" parameterType="com.zlcm.server.model.bean.OrderDevice">
    update zlcm_order_device
    <set>
      <if test="oid != null">
        oid = #{oid,jdbcType=INTEGER},
      </if>
      <if test="did != null">
        did = #{did,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <select id="findAll" resultType="java.util.List">
    SELECT * FROM zlcm_order_device
  </select>

  <select id="getCount" resultType="java.lang.Integer">
    SELECT COUNT(*) FROM zlcm_order_device
  </select>

  <select id="getPageList" parameterType="java.lang.Integer" resultType="java.util.List">
    SELECT * FROM zlcm_order_device a  JOIN (select id from zlcm_order_device limit #{page},#{size}) b ON a.ID = b.id
  </select>
  
  <select id="getDeviceInfo" parameterType="java.lang.Integer" resultType="com.zlcm.server.model.bean.Device">
    SELECT * FROM zlcm_device d WHERE d.did IN (SELECT did FROM zlcm_order_device WHERE oid = #{oid,jdbcType=INTEGER})
  </select>
  
</mapper>