<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zlcm.server.dao.StoreMapper">
  <resultMap id="BaseResultMap" type="com.zlcm.server.model.bean.Store">
    <id column="sid" jdbcType="INTEGER" property="sid" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="organization" jdbcType="VARCHAR" property="organization" />
    <result column="iphone" jdbcType="VARCHAR" property="iphone" />
    <result column="legal_person" jdbcType="VARCHAR" property="legalPerson" />
    <result column="business_license" jdbcType="VARCHAR" property="businessLicense" />
    <result column="state" jdbcType="TINYINT" property="state" />
  </resultMap>
  <sql id="Base_Column_List">
    sid, name, address, organization, iphone, legal_person, business_license, state
  </sql>
  <select id="get" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from zlcm_store
    where sid = #{sid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPK" parameterType="java.lang.Integer">
    delete from zlcm_store
    where sid = #{sid,jdbcType=INTEGER}
  </delete>
  <insert id="save" parameterType="com.zlcm.server.model.bean.Store" useGeneratedKeys="true" keyProperty="sid">
    insert into zlcm_store
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="sid != null">
        sid,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="organization != null">
        organization,
      </if>
      <if test="iphone != null">
        iphone,
      </if>
      <if test="legalPerson != null">
        legal_person,
      </if>
      <if test="businessLicense != null">
        business_license,
      </if>
      <if test="state != null">
        state,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="sid != null">
        #{sid,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="organization != null">
        #{organization,jdbcType=VARCHAR},
      </if>
      <if test="iphone != null">
        #{iphone,jdbcType=VARCHAR},
      </if>
      <if test="legalPerson != null">
        #{legalPerson,jdbcType=VARCHAR},
      </if>
      <if test="businessLicense != null">
        #{businessLicense,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        #{state,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="update" parameterType="com.zlcm.server.model.bean.Store">
    update zlcm_store
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="organization != null">
        organization = #{organization,jdbcType=VARCHAR},
      </if>
      <if test="iphone != null">
        iphone = #{iphone,jdbcType=VARCHAR},
      </if>
      <if test="legalPerson != null">
        legal_person = #{legalPerson,jdbcType=VARCHAR},
      </if>
      <if test="businessLicense != null">
        business_license = #{businessLicense,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        state = #{state,jdbcType=TINYINT},
      </if>
    </set>
    where sid = #{sid,jdbcType=INTEGER}
  </update>

  <select id="findAll" resultType="java.util.List">
    SELECT * FROM zlcm_store
  </select>

  <select id="getCount" resultType="java.lang.Integer">
    SELECT COUNT(*) FROM zlcm_store
  </select>

  <select id="getPageList" parameterType="java.lang.Integer" resultType="java.util.List">
    SELECT * FROM zlcm_store a  JOIN (select did from zlcm_store limit #{page},#{size}) b ON a.ID = b.id
  </select>
</mapper>