<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zlcm.server.dao.user.UcenterUserLogDao">
    <insert id="save" parameterType="com.zlcm.server.model.user.UcenterUserLog">
        insert into ucenter_user_log
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="user_log_id != null">
                user_log_id,
            </if>
            <if test="user_id != null">
                user_id,
            </if>
            <if test="ip != null">
                ip,
            </if>
            <if test="create_time != null">
                create_time,
            </if>
            <if test="content != null">
                content,
            </if>
            <if test="agent != null">
                agent,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="user_log_id != null">
                #{user_log_id,jdbcType=INTEGER},
            </if>
            <if test="user_id != null">
                #{user_id,jdbcType=INTEGER},
            </if>
            <if test="ip != null">
                #{ip,jdbcType=VARCHAR},
            </if>
            <if test="create_time != null">
                #{create_time,jdbcType=TIMESTAMP},
            </if>
            <if test="content != null">
                #{content,jdbcType=VARBINARY},
            </if>
            <if test="agent != null">
                #{agent,jdbcType=VARBINARY},
            </if>
        </trim>
    </insert>

    <update id="update" parameterType="com.zlcm.server.model.user.UcenterUserLog">
        update ucenter_user_log
        <set>
            <if test="user_id != null">
                user_id = #{user_id,jdbcType=INTEGER},
            </if>
            <if test="ip != null">
                ip = #{ip,jdbcType=VARCHAR},
            </if>
            <if test="create_time != null">
                create_time = #{create_time,jdbcType=TIMESTAMP},
            </if>
            <if test="content != null">
                content = #{content,jdbcType=VARBINARY},
            </if>
            <if test="agent != null">
                agent = #{agent,jdbcType=VARBINARY},
            </if>
        </set>
        where user_log_id = #{user_log_id,jdbcType=INTEGER}
    </update>

    <delete id="deleteByPK" parameterType="java.lang.Integer">
        DELETE FROM ucenter_user_log WHERE user_log_id = #{pk,jdbcType=VARCHAR}
    </delete>
    <select id="get" parameterType="java.lang.Integer" resultType="com.zlcm.server.model.user.UcenterUserLog">
        SELECT * FROM ucenter_user_log WHERE user_log_id = #{pk,jdbcType=VARCHAR}
    </select>
    <select id="findAll" resultType="com.zlcm.server.model.user.UcenterUserLog">
        select *
        from ucenter_user_log;
    </select>
    <select id="getCount" resultType="java.lang.Integer">
        select count(*)
        from ucenter_user_log;
    </select>
    <select id="getPageList" resultType="java.lang.Integer">
        select *
        from ucenter_user_log LIMIT #{page,jdbcType=INTEGER},#{size,jdbcType=INTEGER}
    </select>
    <cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>
</mapper>