<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zlcm.server.dao.upms.UpmsUserOrganizationMapper">
  <resultMap id="BaseResultMap" type="com.zlcm.server.model.upms.UpmsUserOrganization">
    <id column="user_organization_id" jdbcType="INTEGER" property="userOrganizationId" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="organization_id" jdbcType="INTEGER" property="organizationId" />
  </resultMap>
  <sql id="Base_Column_List">
    user_organization_id, user_id, organization_id
  </sql>
  <select id="get" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from upms_user_organization
    where user_organization_id = #{userOrganizationId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPK" parameterType="java.lang.Integer">
    delete from upms_user_organization
    where user_organization_id = #{userOrganizationId,jdbcType=INTEGER}
  </delete>
  <insert id="save" parameterType="com.zlcm.server.model.upms.UpmsUserOrganization">
    insert into upms_user_organization
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userOrganizationId != null">
        user_organization_id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="organizationId != null">
        organization_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userOrganizationId != null">
        #{userOrganizationId,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="organizationId != null">
        #{organizationId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="update" parameterType="com.zlcm.server.model.upms.UpmsUserOrganization">
    update upms_user_organization
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="organizationId != null">
        organization_id = #{organizationId,jdbcType=INTEGER},
      </if>
    </set>
    where user_organization_id = #{userOrganizationId,jdbcType=INTEGER}
  </update>

  <select id="findAll" resultMap="BaseResultMap">
    select *
    from upms_user_organization;
  </select>
  <select id="getCount" resultType="java.lang.Integer">
    select count(*)
    from upms_user_organization;
  </select>
  <select id="getPageList" resultType="java.lang.Integer">
    SELECT * FROM upms_user_organization LIMIT #{page},#{size}
  </select>
</mapper>