<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zlcm.server.dao.VisitorsFlowrateMapper">
  <resultMap id="BaseResultMap" type="com.zlcm.server.model.bean.VisitorsFlowrate">
    <result column="did" jdbcType="INTEGER" property="did" />
    <result column="visitors_flowrate" jdbcType="INTEGER" property="visitorsFlowrate" />
  </resultMap>
  <insert id="insert" parameterType="com.zlcm.server.model.bean.VisitorsFlowrate">
    insert into zlcm_visitors_flowrate (did, visitors_flowrate)
    values (#{did,jdbcType=INTEGER}, #{visitorsFlowrate,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.zlcm.server.model.bean.VisitorsFlowrate">
    insert into zlcm_visitors_flowrate
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="did != null">
        did,
      </if>
      <if test="visitorsFlowrate != null">
        visitors_flowrate,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="did != null">
        #{did,jdbcType=INTEGER},
      </if>
      <if test="visitorsFlowrate != null">
        #{visitorsFlowrate,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
</mapper>